$sudo_green:#50e2c2;
$deep_blue:#23263a;
h1, p {
    color: $sudo_green;
    text-align: center;
}
body{
    background: $deep_blue;
}
#app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    text-align: center;
    color: $sudo_green;
    font-size: 50px;
}