$sudo_green:#50e2c2;
$deep_blue:#23263a;
h1, p {
    color: $sudo_green;
    text-align: center;
}
body{
    background: $deep_blue;
}
#app {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: $sudo_green;
    font-size: 50px;
    hr {
        color: #b1b1b1;
    }
    input {
        opacity: 0.4;
        margin-left: 15px;
        font-size: inherit;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        background: transparent;
        border: none;
         outline: none;
        color:$sudo_green;
        border-bottom: $sudo_green solid 2px;
        height: 50px;
        transition: opacity 0.5s ease;
        padding-bottom: 15px;
        &:focus{
            opacity: 1;
        }
    }
}